body{
	background-color: #99ccff;
}

#pagecontent{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -53%);
  height: 90%;
  width: 60%;
  border-radius: 10px;
  
  background-color: white;
  border-style: ridge;
}

#footercontent{
  position: fixed;
  top: 90%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 90%);
  height: 5%;
  width: 60%;
  border-radius: 10px;
  
  background-color: white;
  border-style: ridge;
}

.pre-scrollable{
	max-height : 95%;
}

.page-header{
	border-bottom:1px solid #000080
}

#banner-title{
	text-align: center;
	font-size: 40px;
}

#logonavbar:hover{
	text-decoration: none;
}

#login-box,.connectedDialog{
	padding-left: 80%;
	padding-right: 1px;
}

#contactus{
	text-align: center;
	margin: auto;
}

.indexcontent{
	text-align: center;
}
